@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "bebas neue";
    letter-spacing: 1px;
}

body {
    height: 100vh;
    background-color: #3D0A2D;
    color: white;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background: rgb(42, 0, 36);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(19, 19, 153);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.316);
}

header {
    width: 100%;
    color: white;
    height: 100px;
    background-color: #3C061D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 0px 2px #000;
}

nav {
    background: #5C0F48;
    padding: 10px;
    border-radius: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    transition: .5s;
    font-size: 1.2ems;
}

nav a:hover {
    background-color: #4a0836;
}
.imagem-e-h1{
    overflow-x: hidden;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
    text-align: center;
    font-size:1em;
}
.imagem-e-h1 h1{
    margin: 10px 10px;
    padding: 10px 20px;
}
#paragrafo-descrição{
    padding: 10px;
    line-height: 30px;
    font-size: .9em;
    background: #291022;
}
main {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards-produtos {
    position: relative;
    padding: 50px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    background: #671B49A6;
    border-radius: 5px;
    display: grid;
    grid-auto-flow: column;
    gap: 1.2rem;
    box-shadow: 1px 0px 5px #000000b3;
  
}

.cards-produtos h3,
h4 {
    position: absolute;
    left: 0%;
    padding: 10px;
}

.cards-produtos h3 {
    top: 0%;
}

.cards-produtos h4 {
    bottom: 0%;
}

.card {
    background-color: #59173E;
    padding: 25px 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 0px 5px #000000b3;
    transition: .2s;
    cursor: pointer;
}

.card img {
    scroll-snap-align: center;
    max-height: 300px;
    min-height: 100px;
}

.card:hover {
    transform: scale(1.1);
}
.textinho-deproduto{
    padding: 10px;
    background-color: #291022;
    text-align: center;
    color: rgb(224, 105, 224);
    border-radius: 10px;
    animation: mudarCorFonte 5s  infinite;
}
.icones{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}
.img-controle{
    margin: 0px 10px;
    transition: .2s ease-in-out;
}
.img-controle:hover{
    transform: scale(1.1);
}
footer,
.footer-div,
.email-div,
.instagram-div>a,
.whatsapp-div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px 0px;
    text-decoration: none;
}

footer img {
    padding: 2px;
}

footer {
    width: 100%;
    padding: 30px 0px;
    background-color: #4C0423;
}
@keyframes mudarCorFonte {
    0%{
        color:rgb(213, 54, 213) ;
    }
    50%{
        color:rgb(255, 234, 234) ;
    }
    100%{
        color:rgb(213, 54, 213);
    }
}
@media (max-width: 515px) {
    .cards-produtos{
        width: 100%;
    }
    .cards-produtos h4,.cards-produtos h3 {
        font-size: .9em;
 
    }
    footer {
        height:200px;
    }
}
@media (min-width:500px){
    #paragrafo-descrição, .textinho-deproduto{
        width: 600px;
        margin: auto;
    }
    #minha-imagem{
        height: 400px;
    }
}